<nav class="navbar navbar-expand-sm navbar-dark fixed-top navbar-bg animated fadeInLeft">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Manage Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/products']" routerLinkActive="active">View Products</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="appUser">
      <li ngbDropdown class="nav-item active dropdown user-dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ appUser.name || appUser.email }}<span class="sr-only">(current)</span>
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item">{{appUser.email}}</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
      </li>
    </ul>
  </div>
</nav>
